<div class="sw-cms-preview-advanced-cta-banner sw-cms-preview-advanced-cta-banner-basic">
    <div class="sw-cms-el-preview-advanced-cta-banner">
        <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
        <div class="container">
            <div class="container-content">
                <h3>Full width Banner</h3>
                <p>Supports multimedia and categories.</p>
                <button>Cool</button>
            </div>
        </div>
    </div>
</div>
