<div class="sw-cms-preview-advanced-cta-banner advanced-multi-slider">
    <sw-icon name="regular-chevron-left" />
    <div class="sw-cms-el-preview-advanced-cta-banner">
        <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
        <div class="container">
            <div class="container-content">
                <h3>Four slides</h3>
                <p>Supports multimedia and categories.</p>
                <button>Cool</button>
            </div>
        </div>
    </div>
    <sw-icon name="regular-chevron-right" />
</div>
