<div class="sw-cms-preview-advanced-cta-banner two">
    <div class="sw-cms-el-preview-advanced-cta-banner">
        <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
        <div class="container">
            <div class="container-content">
                <h3>Women Fashion</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                <button>Shop now</button>
            </div>
        </div>
    </div>
    <div class="sw-cms-el-preview-advanced-cta-banner">
        <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
        <div class="container">
            <div class="container-content">
                <h3>Accesoires</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                <button>Shop now</button>
            </div>
        </div>
    </div>
</div>
