<div class="sw-cms-preview-advanced-cta-banner four">
    <div class="sw-cms-el-preview-advanced-cta-banner">
        <div class="container">
            <div class="container-icon">
                <sw-icon name="regular-checkmark" size="16px"></sw-icon>
            </div>
        </div>
    </div>
    <div class="sw-cms-el-preview-advanced-cta-banner">
        <div class="container">
            <div class="container-icon">
                <sw-icon name="regular-checkmark" size="16px"></sw-icon>
            </div>
        </div>
    </div>
    <div class="sw-cms-el-preview-advanced-cta-banner">
        <div class="container">
            <div class="container-icon">
                <sw-icon name="regular-checkmark" size="16px"></sw-icon>
            </div>
        </div>
    </div>
    <div class="sw-cms-el-preview-advanced-cta-banner">
        <div class="container">
            <div class="container-icon">
                <sw-icon name="regular-checkmark" size="16px"></sw-icon>
            </div>
        </div>
    </div>
</div>
